# Day 1 - Python Basics

To know the python version:

In [2]:
from platform import python_version
print(f"Python version: {python_version()}")

Python version: 3.8.8

### Variable Declaration

In [6]:
salary = 24000.98 # type inferencing

In [7]:
print("Datatype ", type(salary))
print("Value", salary)

Datatype  <class 'float'>
Value 24000.98

In [8]:
bonus = 5000
indicator = True
name = "Vishali"

In [9]:
print(name, indicator, bonus)

Vishali True 5000

In [12]:
print(type(name), type(indicator), type(bonus))

<class 'str'> <class 'bool'> <class 'int'>

### Arithmetic Operations

In [13]:
num1 = 10
num2 = 20

result = (num1*10 + num2*40)+500
print("Calculation: ", result)

result = (num1 <num2) and (num1 != num2)
print("Comparision:", result)

Calculation:  1400
Comparision: True

### While Loops

No {} brackets

Indentation is important

In [17]:
# Indentation should be proper:
counter = 0
while(counter <= 10):
    print(counter)
    counter += 1
    # counter = counter + 1
    print("-------------End of Loop------------")

0
-------------End of Loop------------
1
-------------End of Loop------------
2
-------------End of Loop------------
3
-------------End of Loop------------
4
-------------End of Loop------------
5
-------------End of Loop------------
6
-------------End of Loop------------
7
-------------End of Loop------------
8
-------------End of Loop------------
9
-------------End of Loop------------
10
-------------End of Loop------------

In [18]:
counter = 0
while(counter <= 10):
    print(counter)
    counter += 1
    # counter = counter + 1
print("-------------End of Loop------------")

0
1
2
3
4
5
6
7
8
9
10
-------------End of Loop------------

### For loop

for ---------- in ------:

    Range of values to iterate

range(start, stop, step)

start default 0

stop mandatory, upper bounds are excluded

step default 1

In [20]:
for i in range(1,10): # Start 1 stop 10 step 1
    print(i)

1
2
3
4
5
6
7
8
9

In [22]:
for i in range(5): # Start 1 stop 5 step 1
    print(i)

0
1
2
3
4

In [23]:
for i in range(10, 100, 10): # Start 10 stop 100 step 10
    print(i)

10
20
30
40
50
60
70
80
90

In [24]:
for i in range(10, 0, -1): # Start 10 stop0 step -1
    print(i)

10
9
8
7
6
5
4
3
2
1

### Data structure in python
    create Access
1) List            []              []

2) Tuple           ()              []

3) Dictionary      {}              []

### List

In [26]:
mList = [11,22,33,44,55,66,77,8,99]
print("Value of list", mList)
print("Datatype of List", type(mList))
print("Number of elements in List", len(mList))

Value of list [11, 22, 33, 44, 55, 66, 77, 8, 99]
Datatype of List <class 'list'>
Number of elements in List 9

### To access the List

In [27]:
print(mList[0])
print(mList[2])
print(mList[3])
print(mList[5])

11
33
44
66

In [28]:
mList

[11, 22, 33, 44, 55, 66, 77, 8, 99]

In [30]:
mList.append(5)
mList

[11, 22, 33, 44, 55, 66, 77, 8, 99, 5, 5]

In [31]:
mList.append(97)
mList

[11, 22, 33, 44, 55, 66, 77, 8, 99, 5, 5, 97]

In [32]:
mList.sort()
mList

[5, 5, 8, 11, 22, 33, 44, 55, 66, 77, 97, 99]

In [33]:
mList.append([111,222,333])
mList

[5, 5, 8, 11, 22, 33, 44, 55, 66, 77, 97, 99, [111, 222, 333]]

In [36]:
print(mList[12])
print(mList[12][1])

[111, 222, 333]
222

In [37]:
for i in mList:
    print(i)

5
5
8
11
22
33
44
55
66
77
97
99
[111, 222, 333]
[11]

### List is muttable in nature

### Tuples:
    
    Immutable list of values

In [38]:
myTuple = (1,2,3,4)

In [39]:
myTuple[:]

(1, 2, 3, 4)

In [43]:
myTuple

(1, 2, 3, 4)

In [40]:
type(myTuple)

tuple

In [41]:
len(myTuple)

4

In [42]:
myTuple[0] = 7 # Error

TypeError: 'tuple' object does not support item assignment

In [44]:
slist = [11]
slist

[11]

In [45]:
stuple = (11)
stuple

11

In [46]:
type(stuple)

int

In [48]:
# in order to create single element tuple, insert commas
stuple = (11,)
print(stuple)
print(type(stuple))

(11,)
<class 'tuple'>

### Dictionary

Key-value pair

In [49]:
empDict = {"eid":100, "name": "Vishali", "salary": 24000.11, "bonus": 5000}

In [53]:
print("Datatype", type(empDict))
print("\nDictionary values", empDict)
print("\nOnly Keys", empDict.keys)
print("\nOnly Values", empDict.values())
print("\nValue at key name", empDict["name"])

Datatype <class 'dict'>

Dictionary values {'eid': 100, 'name': 'Vishali', 'salary': 24000.11, 'bonus': 5000}

Only Keys <built-in method keys of dict object at 0x00000264EE06B3C0>

Only Values dict_values([100, 'Vishali', 24000.11, 5000])

Value at key name Vishali

In [52]:
for i in empDict:
    print(i, empDict[i])

eid 100
name Vishali
salary 24000.11
bonus 5000

In [54]:
empDict

{'eid': 100, 'name': 'Vishali', 'salary': 24000.11, 'bonus': 5000}

In [55]:
empDict["job"] = "SalesRep"

In [56]:
empDict

{'eid': 100,
 'name': 'Vishali',
 'salary': 24000.11,
 'bonus': 5000,
 'job': 'SalesRep'}

### Dictionary is muttable

In [58]:
empDict["name"] = "Revanth"
empDict

{'eid': 100,
 'name': 'Revanth',
 'salary': 24000.11,
 'bonus': 5000,
 'job': 'SalesRep'}

In [61]:
emp = {"name": "vishali"}
empDict.update(emp)
empDict

{'eid': 100,
 'name': 'vishali',
 'salary': 24000.11,
 'bonus': 5000,
 'job': 'SalesRep'}

In [62]:
empDict["holidays"] = ["Saturday","Sunday"]
empDict

{'eid': 100,
 'name': 'vishali',
 'salary': 24000.11,
 'bonus': 5000,
 'job': 'SalesRep',
 'holidays': ['Saturday', 'Sunday']}

In [63]:
empDict["eid"] = [1,2,3,4,5]
empDict["name"] = ["vishali","revanth","yamini","srinivasan"]
empDict

{'eid': [1, 2, 3, 4, 5],
 'name': ['vishali', 'revanth', 'yamini', 'srinivasan'],
 'salary': 24000.11,
 'bonus': 5000,
 'job': 'SalesRep',
 'holidays': ['Saturday', 'Sunday']}

# Python Tutorial

https://docs.python.org/3/tutorial/