# Variable Declaration

In [2]:
salary = 24000.98   # type inferencing

In [3]:
print("Datatype ", type(salary))
print("Value", salary)

Datatype  <class 'float'>
Value 24000.98

In [4]:
bonus = 5000
indicator = True
name = "Steven"

In [5]:
print(name,indicator,bonus)
print(type(name), type(indicator), type(bonus))

Steven True 5000
<class 'str'> <class 'bool'> <class 'int'>

# Arithmatic operations

In [7]:
num1 = 10
num2 = 20

result = (num1*10+num2*40)+500
print("Calculation ", result)

result = (num1 < num2) and (num1 != num2)
print("Comparision ", result)

Calculation  1400
Comparision  True

# while loop

In [12]:
counter = 0

while(counter <= 10):
    print(counter)
    counter +=1
print("----------End Of Loop----------")

0
1
2
3
4
5
6
7
8
9
10
----------End Of Loop----------

In [13]:
counter = 0

while(counter <= 10):
    print(counter)
    counter +=1
    print("----------End Of Loop----------")

0
----------End Of Loop----------
1
----------End Of Loop----------
2
----------End Of Loop----------
3
----------End Of Loop----------
4
----------End Of Loop----------
5
----------End Of Loop----------
6
----------End Of Loop----------
7
----------End Of Loop----------
8
----------End Of Loop----------
9
----------End Of Loop----------
10
----------End Of Loop----------

# for loops

In [ ]:
"""
range(start,stop,step)

start   default 0
stop    mandatory, upper bounds are excluded
step    default 1
"""

In [ ]:
for i in range(1,10):           # Start 1  Stop 10  Step 1
    print(i)

In [ ]:
for i in range(5):           # Start 0  Stop 5  Step 1
    print(i)

In [ ]:
for i in range(10,100,10):           # Start 10  Stop 100  Step 10
    print(i)

In [ ]:
for i in range(10,0,-1):           # Start 10  Stop 0  Step -1
    print(i)

# List

In [17]:
mList = [11,22,33,44,55,66,77,88,99]

In [18]:
print("Value of List", mList)
print("Datatype of List ", type(mList))
print("Number of elements in List ", len(mList))

Value of List [11, 22, 33, 44, 55, 66, 77, 88, 99]
Datatype of List  <class 'list'>
Number of elements in List  9

In [19]:
print(mList[0])
print(mList[2])
print(mList[3])
print(mList[5])

11
33
44
66

In [20]:
mList

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [21]:
mList.append(5)
print(mList)

[11, 22, 33, 44, 55, 66, 77, 88, 99, 5]

In [22]:
mList.append(97)
print(mList)

[11, 22, 33, 44, 55, 66, 77, 88, 99, 5, 97]

In [23]:
mList.sort()
print(mList)

[5, 11, 22, 33, 44, 55, 66, 77, 88, 97, 99]

In [24]:
mList.append([111,222,333])
print(mList)

[5, 11, 22, 33, 44, 55, 66, 77, 88, 97, 99, [111, 222, 333]]

In [26]:
print(mList[11])
print(mList[11][1])

[111, 222, 333]
222

In [27]:
for i in mList:
    print(i)

5
11
22
33
44
55
66
77
88
97
99
[111, 222, 333]

In [32]:
sList = [11]
print("Type ", type(sList))
print("Value ", sList)

Type  <class 'list'>
Value  [11]

# Tuple

In [34]:
mTuple = (11,) # Tuple with singe element
print("Type ", type(mTuple))
print("Value ", mTuple)

Type  <class 'tuple'>
Value  (11,)

# Dictionary

In [35]:
empDict = {"eid":100,"name":"Steven","salary":24000.11,"bonus":5000}

In [37]:
print("Datatype", type(empDict))
print("Dictioanry val ", empDict)
print("Only Keys", empDict.keys())
print("Only Values", empDict.values())
print("Value at key name ", empDict["name"])

Datatype <class 'dict'>
Dictioanry val  {'eid': 100, 'name': 'Steven', 'salary': 24000.11, 'bonus': 5000}
Only Keys dict_keys(['eid', 'name', 'salary', 'bonus'])
Only Values dict_values([100, 'Steven', 24000.11, 5000])
Value at key name  Steven

In [39]:
for i in empDict:
    print(i, empDict[i])

eid 100
name Steven
salary 24000.11
bonus 5000

In [40]:
empDict

{'bonus': 5000, 'eid': 100, 'name': 'Steven', 'salary': 24000.11}

In [43]:
empDict["job"] = "SalesRep"
empDict["name"] = "Lee"

In [45]:
empDict

{'bonus': 5000,
 'eid': 100,
 'job': 'SalesRep',
 'name': 'Lee',
 'salary': 24000.11}

In [46]:
empDict["holidays"] = ["Saturday","Sunday","Bank holidays"]

In [48]:
empDict['eid'] =[100,101,102,103]
empDict['name'] = ['stev','lee','neena','john']

In [49]:
empDict

{'bonus': 5000,
 'eid': [100, 101, 102, 103],
 'holidays': ['Saturday', 'Sunday', 'Bank holidays'],
 'job': 'SalesRep',
 'name': ['stev', 'lee', 'neena', 'john'],
 'salary': 24000.11}